.map-tile-open {
  /* Future styles for tile rendering */

  /* image-rendering: pixelated;
  background-position: center;
  background-size: contain;
  background-image: url("./test/Grass-Concept.png"); */
  background-color: green;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-tile-wall {
  background-color: red;
}

.map-tile-open,
.map-tile-wall {
  min-height: 25px;
  min-width: 25px;
}

/* Debug until we get sprites */
.enemy {
  background-color: purple !important;
}

#dead-enemy {
  background-color: gray !important;
}
