#game-container {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* padding: 100px; */
}

#game-canvas {
  width: 1920px;
  height: 1080px;
  background-color: aliceblue;
  image-rendering: crisp-edges
}
